Checks: '*,
-abseil-string-find-str-contains,
-altera-id-dependent-backward-branch,
-altera-unroll-loops,
-altera-struct-pack-align,

-bugprone-easily-swappable-parameters,

-cppcoreguidelines-macro-usage,

-fuchsia-default-arguments-calls,
-fuchsia-default-arguments-declarations,
-fuchsia-overloaded-operator,
-fuchsia-trailing-return,

-google-readability-namespace-comments,
-google-runtime-int,

-llvm-header-guard,
-llvm-namespace-comment,
-llvmlibc-callee-namespace,
-llvmlibc-implementation-in-namespace,
-llvmlibc-restrict-system-libc-headers,

-misc-no-recursion,
-modernize-use-trailing-return-type,

# tmp
#-readability-function-cognitive-complexity
-readability*
'

HeaderFilterRegex: '^.*\\GLib\\.*$'